<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BNRCredentialDepot.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CredentialDepot.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>CredentialsDepot.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F6A2DDF418ABCE70008143AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6A2DE0418ABCE70008143AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6A2DE2D18ABD4B0008143AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6A2DE4E18ABDD69008143AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6A2DE6418ABDE5C008143AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6A2DE7A18ABDEDB008143AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
